@model GitAppInputViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="post">
    <div class="row">
        <div class="col-lg-4">Username</div>
        <div class="col-lg-8">
            <input asp-for="Username" placeholder="Enter your Username" autocomplete="off" class="form-control" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4">Repository Url</div>
        <div class="col-lg-8">
            <input asp-for="RepoUrl" placeholder="Enter the Repository Url" autocomplete="off" class="form-control" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4">Access Token</div>
        <div class="col-lg-8">
            <input asp-for="AccessToken" placeholder="Enter the Access Token" autocomplete="off" class="form-control" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-offset-4 col-lg-8">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>
